@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Plus+Jakarta+Sans&display=swap");
* {
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --primary: rgb(9, 154, 202);
}
html,
body {
    font: calc(13px + 0.2vh + 0.1vw) "Plus Jakarta Sans", sans-serif;
    background: #fefeff;
    color: #222324;
}
h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
button {
    font: inherit;
    color: inherit;
    background: #0000;
    i {
        font-size: 1.7rem;
    }
}
input {
    font: inherit;
    color: inherit;
    background: #0000;
}
.con {
    width: 100vw;
    box-sizing: border-box;
    .pages {
        width: 100%;
        box-sizing: border-box;
    }
}
.first-page.pages {
    background: var(--primary);
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2rem;
    text-align: right;
    .header {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .sub-header {
        font-size: 0.9rem;
    }
    .text.on {
        transform: translate(0, -40vh);
    }
    .bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 44;
        width: 100%;
        padding: 22px 32px;
        display: flex;
        align-items: end;
        justify-content: end;
        box-sizing: border-box;
    }
    .skip {
        color: #fefeff9b;
        margin-left: auto;
    }
    .next {
        margin-left: auto;
        background: #fff;
        border-radius: 50%;
        padding: 22px;
        .icon {
            transform: translate(-4px, 0);
        }
        .icon > div {
            width: calc(18px + 0.2vh + 0.1vw);
            height: calc(18px + 0.2vh + 0.1vw);
            border-right: 4px solid var(--primary);
            border-bottom: 4px solid var(--primary);
            transform: rotate(-45deg);
        }
    }
    .bottom.on {
        .skip {
            color: var(--primary);
        }
        .next {
            background: var(--primary);
            .icon > div {
                border-right: 4px solid #fff;
                border-bottom: 4px solid #fff;
            }
        }
    }
    .con-of-sign {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 22px 32px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fefeff;
        color: var(--primary);
        box-sizing: border-box;
    }
}
@media screen and (prefers-color-scheme: dark) {
    html,
    body {
        background: #323233;
        color: #fff;
    }
    .pages {
        background: #323233;
    }
}
